/* .p-dropdown-label.p-inputtext {
    padding: 0px;
}

.p-dropdown-label-empty {
    visibility: visible !important;
}

.p-dropdown:not(.p-disabled).p-focus {
    outline: 0 none;
    outline-offset: 0;
    box-shadow: none !important;
    border-color: none !important;
  } */